<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Steamidler - steam on the web</title>
    <link rel="icon" href="{{path}}/static/images/favicon.ico">

    <!-- jQuery -->
    <script src="{{path}}/static/js/libraries/jquery-3.4.1.min.js"></script>
    <!-- Popper 1.14.7 -->
    <script src="{{path}}/static/js/libraries/popper.min.js"></script>
    <!-- Bootstrap CSS 4.3.1 -->
    <link rel="stylesheet" type="text/css" href="{{path}}/static/js/libraries/bootstrap.min.css">
    <!-- Bootstrap JS 4.3.1 -->
    <script src="{{path}}/static/js/libraries/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{path}}/static/css/main.css">

    <script src="{{path}}/static/js/libraries/socket.io.slim.js"></script>
</head>

<body>

    <div id="overlay"></div>
    <div id="background-image"></div>

    <div id="header">
        <h4 id="logo"><a href="/">Steamidler.com</a></h4>
        {{> (header)}}
    </div>

    {{{body}}}

    <div id="footer">
        <div>Steamidler is a community website and is not affiliated with Valve or Steam.</div>
        <div id="copyright">Made by Machiavelli © 2019</div>
    </div>

</body>

</html>